services:
  devnet:
    image: ghcr.io/ensdomains/namechain:latest
    build:
      context: .
      dockerfile: Dockerfile
    profiles: ["default"]
    ports:
      - "8545:8545"
    expose:
      - 8545
    environment:
      ANVIL_IP_ADDR: "0.0.0.0"
    healthcheck:
      test: ["CMD-SHELL", "cast rpc web3_clientVersion | grep -c anvil > /dev/null "]
      interval: 5s
      timeout: 5s
      retries: 5

  contract-deployer:
    image: ghcr.io/mdtanrikulu/mock-contract-deployer:main
    profiles: ["default"]
    environment:
      - ANVIL_RPC=http://devnet:8545
    depends_on:
      devnet:
        condition: service_healthy

  alto:
    image: ghcr.io/pimlicolabs/alto:latest
    profiles: ["default"]
    ports: [ "4337:4337" ]
    entrypoint: ["node", "src/lib/cli/alto.js", "run", "--config", "/app/alto-config.json"]
    depends_on:
      devnet:
        condition: service_healthy
      contract-deployer:
        condition: service_completed_successfully
    volumes:
      - ./alto/alto-config.json:/app/alto-config.json

  mock-paymaster:
    image: ghcr.io/mdtanrikulu/mock-verifying-paymaster:main
    profiles: ["default"]
    ports: [ "3000:3000" ]
    environment:
      - ALTO_RPC=http://alto:4337
      - ANVIL_RPC=http://devnet:8545
    depends_on:
      devnet:
        condition: service_healthy
      contract-deployer:
        condition: service_completed_successfully

  # Local profile services - these run when using local devnet
  contract-deployer-local:
    image: ghcr.io/mdtanrikulu/mock-contract-deployer:main
    profiles: ["local"]
    environment:
      - ANVIL_RPC=http://host.docker.internal:8545

  alto-local:
    image: ghcr.io/pimlicolabs/alto:latest
    profiles: ["local"]
    ports: [ "4337:4337" ]
    entrypoint: ["node", "src/lib/cli/alto.js", "run", "--config", "/app/alto-config.json"]
    depends_on:
      contract-deployer-local:
        condition: service_completed_successfully
    volumes:
      - ./alto/alto-config-local.json:/app/alto-config.json

  mock-paymaster-local:
    image: ghcr.io/mdtanrikulu/mock-verifying-paymaster:main
    profiles: ["local"]
    ports: [ "3000:3000" ]
    environment:
      - ALTO_RPC=http://alto-local:4337
      - ANVIL_RPC=http://host.docker.internal:8545
    depends_on:
      contract-deployer-local:
        condition: service_completed_successfully
