name: Publish Docker Image

on:
  # run after successful ci
  workflow_run:
    workflows: ["CI"]
    types: [completed]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Get commit from workflow run
        id: commit
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          WORKFLOW_RUN_ID="${{ github.event.workflow_run.id }}"

          COMMIT_SHA=$(gh api /repos/${{ github.repository }}/actions/runs/$WORKFLOW_RUN_ID --jq '.head_sha')
          BRANCH_NAME=$(gh api /repos/${{ github.repository }}/actions/runs/$WORKFLOW_RUN_ID --jq '.head_branch')

          echo "sha=$COMMIT_SHA" >> $GITHUB_OUTPUT
          echo "branch=$BRANCH_NAME" >> $GITHUB_OUTPUT
          echo "CI Run ID: $WORKFLOW_RUN_ID"
          echo "Commit: $COMMIT_SHA"
          echo "Branch: $BRANCH_NAME"

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ steps.commit.outputs.sha }}
          submodules: "recursive"

      - name: Log in to the Github Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ steps.commit.outputs.branch }}-${{ steps.commit.outputs.sha }}
            type=raw,value=latest,enable=${{ steps.commit.outputs.branch == github.event.repository.default_branch }}
            type=ref,event=tag

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: GITHUB_SHA=${{ steps.commit.outputs.sha }}
          labels: ${{ steps.meta.outputs.labels }}
